project = "{{vars.project}}"
region = "{{vars.region}}"
tfstate_key = "{{vars.business_unit}}/{{vars.env}}/{{vars.region}}/instances/{{vars.vm_name_prefix}}/"
vm_prefix = "{{vars.vm_name_prefix}}"
machine_type = "{{vars.machine_type}}"
additional_disk_size = "{{vars.additional_disk_size}}"
additional_disk_type = "{{vars.additional_disk_type}}"
enable_additional_disk = {{vars.attach_additional_disk}}
additional_disk_mount_point =  "{{vars.additional_disk_mount_point}}"
gcp_network_tags = {{vars.network_tags}}
gcp_subnetwork = "{{vars.vpc_subnet}}"
vm_count = {{vars.vm_count}}
gcp_image = "{{vars.gcp_image}}"